.container {
  height: 700px;
  width: 90%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px; */
  grid-template-areas: 
    "a a b"
    "c c b"
    ". d .";
  padding: 20px;
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.box1 {
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: c;
}

.box4 {
  grid-area: d;
}


